.toml-key{
	color:#93c5fd;
	font-weight:700;
}

.toml-string{
	color:#86efac;
}

.toml-number{
	color:#fdba74;
}

.toml-bool{
	color:#c4b5fd;
}

.toml-null{
	color:#9ca3af;
}

.toml-delim{
	color:#ddd;
}

.json-node.is-hovered .toml-key{
	font-weight:800;
	text-shadow:0 0 8px rgba(147,197,253,.5);
}

.json-node.is-hovered .toml-delim{
	font-weight:800;
	text-shadow:0 0 8px rgba(56,189,248,.55);
}
