::-webkit-scrollbar {
  display: none;
}

html {
  background: transparent;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  font-size:14px;
  text-align:center;
  font-family: 'Courier New', Courier, monospace;
}

#mclocks {
  padding: 5px;
  height: 100%;
  color: #fff;
  white-space: nowrap;
}

ul {
  display: inline;
  margin: 0;
  padding-top: 3px;
}

li {
  display: inline;
}
