::-webkit-scrollbar {
  display: none;
}

html {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  height: 100%;
  width:  100%;
  font-size:14px;
  text-align:center;
  font-family: 'Courier New', Courier, monospace;
}

#mclocks {
  padding: 5px;
  height: 100%;
  color: #fff;
  background-color: #151;
  border: 1px solid #151;
  border-radius: 6px;
  white-space: nowrap;
}

ul {
  display: inline;
  margin: 0;
  padding: 3px 0 0 8px;
}

li {
  padding: 0 8px 0 0;
  display: inline;
}
