::-webkit-scrollbar {
  display: none;
}

html {
  background: rgba(0, 0, 0, 0);
  -webkit-app-region: drag;
  -webkit-user-select: none;
  font-size:14px;
  text-align:center;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background: rgba(0, 0, 0, 0);
}

#mclocks {
  padding: 5px;
  height: 100%;
  color: #fff;
  background-color: #151;
  border: 1px solid #151;
  border-radius: 6px;
  white-space: nowrap;
}

ul {
  display: inline;
  margin: 0;
  padding-top: 3px;
}

li {
  display: inline;
}
