name: build

on:
  push:
    branches-ignore:
      - '*'
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Nodejs
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name: npm install
      run: npm install
    - name: build app
      run: node_modules/.bin/electron-builder --win
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          dist/*.exe
          LICENSE
          CHANGES
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  mac:
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v2
    - name: Nodejs
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name: npm install
      run: npm install
    - name: build app
      run: node_modules/.bin/electron-builder --mac
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          dist/*.dmg
          LICENSE
          CHANGES
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
