name: test-mcp

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
    paths:
      - 'src-mcp/**'
  pull_request:
    paths:
      - 'src-mcp/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: install dependencies
        run: npm install
        working-directory: src-mcp

      - name: run tests
        run: npm test
        working-directory: src-mcp
